server:
  port: 8082

logging:
  file:
    name: logs/notification-service.log

spring:
  output:
    ansi:
      enabled: ALWAYS
  rabbitmq:
    host: localhost
  mail:
    host: localhost
    port: 1025
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
  web:
    error:
      include-message: always
      include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include:
          - "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  info:
    env:
      enabled: true

email:
  senderAddress: hello@osber.com
  subject: Confirm your email
  activationLink: http://localhost:8080/api/v1/client/%s/active