server:
  port: 8081

logging:
  file:
    name: logs/risk-checker.log

spring:
  output:
    ansi:
      enabled: ALWAYS
  web:
    error:
      include-message: always
      include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include:
          - "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  info:
    env:
      enabled: true

application:
  loanLimitPerDay: 30
  maxAmount: 100
  forbiddenHourFrom: 0
  forbiddenHourTo: 6

back-office:
  url: http://localhost:8080