server:
  port: 8080

logging:
  file:
    name: logs/back-office.log

spring:
  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: jdbc:postgresql://localhost:5432/loans
    username: root
    password: root
    driverClassName: org.postgresql.Driver
    hikari.auto-commit: false

  jpa:
    hibernate.ddl-auto: none
    #    show-sql: true
    properties:
      #      javax:
      #        persistence:
      #          schema-generation:
      #            create-source: metadata
      #            scripts:
      #              action: create
      #              create-target: create.sql
      hibernate:
        #        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  cache:
    type: redis

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml

  rabbitmq:
    host: localhost
  web:
    error:
      include-message: always
      include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include:
          - "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  info:
    env:
      enabled: true

springdoc:
  show-actuator: true

info:
  application:
    name: Loans Application
    description: Simple loans application
    version: v1.0
  techstack:
    java: Java 25
    springBoot: 3.2.4

application:
  interestRate: 10
  interestIncrementFactor: 1.5
  postponeDays: 7

risk:
  checker:
    url: http://localhost:8081

scheduler:
  evaluateNotEvaluatedLoans:
    enabled: true
    cron: "0 */10 * * * *"
